
 .a {
    position: relative;
    right: 10px;
  }
  .b{
    position: relative;
    left: 30px;
  }
      body {
          background: linear-gradient(45deg, #e2e5e8, #e2e5e8);
          font-family: 'Proxima Nova', 'Proxima Nova Fallback', sans-serif;
          font-weight: 100;
          background-color: #e2e5e8;
          text-align: center;
          color: #000;
      }
  
      .main {
          width: 70%;
          background-color: white;
          margin-left: auto;
          margin-right: auto;
          padding: 20px;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
          border-radius: 10px;
          margin-top: 5%;
          margin-bottom: 5%;
      }
  
      .main:hover {
          box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 25px 0 rgba(0, 0, 0, 0.19);
      }
  
      .border {
          border-radius: 10px;
          border: 1px solid #e2e5e8;
          padding: 5%;
      }
  
      .head,
      .head2,
      .head3 {
          font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
          font-weight: bold;
      }
  
      input,
      .form-control {
          outline: 0;
          border-width: 0 0 2px;
          border-color: #00a8a891;
          border-radius: 0%;
      }
  
      .was-validated .form-control:valid,
      .was-validated .form-control:invalid {
          box-shadow: none;
          border-color: #00a8a891;
          background-image: none;
      }
  
      .was-validated .form-control:invalid:focus,
      .was-validated .form-control:valid:focus {
          box-shadow: none;
          background-image: none;
      }
  
      .form-control:focus {
          outline: none;
          box-shadow: none;
      }
  
      label {
          font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
          color: rgb(107, 107, 107);
          font-size: 18px;
      }
  
      .left {
          width: 47%;
          margin-right: 3%;
          text-align: left;
      }
  
      .right {
          width: 47%;
          margin-left: 3%;
          text-align: left;
      }
  
      .button {
          border: none;
          color: white;
          text-align: center;
          padding: 10px;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          margin: 4px 2px;
          transition-duration: 0.4s;
          cursor: pointer;
      }
  
      .button4 {
          background-color: white;
          color: #FF5722;
          border-radius: 6px;
  
      }
  
      .button5 {
          background-color: #FF5722;
          color: rgb(255, 255, 255);
          font-weight: bold;
          border-radius: 6px;
      }
  
      .button4:hover {
          background-color: #f8eeee;
      }
  
      .part4 {
          text-align: left;
      }
  
      .btn-danger {
          background-color: rgb(255, 255, 255);
          border: none;
          color: rgb(26, 26, 26);
          padding: 0px;
          font-size: 20px;
          text-align: center;
          border: white;
          float: right;
      }
  
      .btn-danger :hover {
          color: #000;
          border-radius: 3px;
          background-color: #fff;
      }
  
      .butn:hover {
          color: #000;
          border-radius: 3px;
          background-color: #fff;
      }
  
      .detail {
          font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      }
  
      .in {
          display: inline;
      }
  
      .left_modal {
          width: 60%;
          margin-right: 2%;
      }
  
      .right_modal {
          width: 35%;
          margin-left: 3%;
      }
  
      .btn:hover {
          background-color: #fff;
          border: 1px solid #95A029;
          color: #95A029;
      }
  
      textarea {
          resize: vertical;
      }
  
      .fin {
          text-align: left;
  
      }
  
      .font {
          font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      }
  
      .spann {
          font-weight: normal;
          color: rgb(56, 51, 51);
      }
  
      .bold {
          color: rgb(81, 97, 131);
      }
  
      .mod_head,
      .mod_foot {
          background-color: rgb(81, 97, 131);
          color: #fff;
      }
  
      .mod_head .bold,
      .mod_foot .bold {
          color: #fff;
      }
  
      @media print {
          body {
              visibility: hidden;
          }
  
          .fin {
              visibility: visible;
              overflow: visible !important;
              position: relative;
          }
      }